body{
    display: block;
    background-color: darkslategrey;
    
    
}
.sect{
    margin: 30px 150px;
    
}
.title{
    padding: 0px 150px;
}
.body{
    margin: auto;
    background-color: darkslategray;
}
.body h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}